@using EntityLayer.Concrete
@model List<Drug>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminUserTableLayout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Drug List</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Drug List</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <a asp-area="Admin"
                           asp-controller="ListDrug"
                           asp-action="CreateDrug"
                           class="btn btn-success float-right">
                            Add New Drug
                        </a>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>NDC</th>
                                        <th>Drug Name</th>
                                        <th>Drug Type</th>
                                        <th>Supplier Name</th>
                                        <th>Dosage</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th>Created at</th>
                                        <th>More Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.NDC</td>
                                            <td>@item.drugName</td>
                                            <td>@item.drugType</td>
                                            <td>@item.Supplier.name</td>
                                            <td>@item.dosage</td>
                                            <td>@item.description</td>
                                            <td>@item.price$</td>
                                            <td>@item.created_at</td>
                                            <td>
                                                <a asp-area="Admin"
                                                asp-controller="DrugDetails"
                                                asp-action="Index"
                                                asp-route-id="@item.NDC"
                                                class="btn btn-info">Details</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>NDC</th>
                                        <th>Drug Name</th>
                                        <th>Drug Type</th>
                                        <th>Supplier Name</th>
                                        <th>Dosage</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th>Created at</th>
                                        <th>More Details</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

